/* ------------------------------------------------------------ *\
	Articles alt
\* ------------------------------------------------------------ */

.articles-alt {
	padding-left: 1.8rem;

	@include breakpoint-down(small-desktop) {
		padding-left: 0; 
	}

	.grid {
		margin: -1.2rem -1.6rem;

		@include breakpoint-down(tablet) {
			margin: -1.2rem -.7rem;
		}
	}

	.grid__col {
		padding: 1.2rem 1.6rem;

		@include breakpoint-down(tablet) {
			padding: 1.2rem .7rem;
		}
	}
}

/* ------------------------------------------------------------ *\
	Article alt
\* ------------------------------------------------------------ */

.article-alt {
	background-color: $white-color;
	padding: 4rem 3.5rem 4.8rem 3rem;
	border-radius: .4rem;
	box-shadow: .0rem .0rem 1.6rem 1.1rem rgba(42,44,46,0.1);
	color: $dark-text;
	height: 100%;

	@include breakpoint-down(tablet) {
		padding: 2rem 1.5rem 3rem;
	}

	@include breakpoint-down(mobile) {
		padding: 2rem 1.9rem 7.3rem 2rem;
		text-align: center;
	}

	img {
		margin-bottom: 2.7rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 2rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 3rem;
		}
	}

	h4 {
		font-size: $h5-font-size;
		font-weight: $font-weight-medium;

		@include breakpoint-down(mobile-small) {
			font-size: $h6-font-size;
		}
	}

	h5,
	h4 {
		letter-spacing: .03em;
		margin-bottom: 2.3rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 1.5rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 2rem;
			text-align: left;
		}
	}

	p {
		font-size: $body-font-size;
		line-height: $h3-line-height;
		text-align: left;
	}
}
