/* ------------------------------------------------------------ *\
	Cards Contacts
\* ------------------------------------------------------------ */

.cards-contacts {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 0 -1.7rem;

	@include breakpoint-down(small-desktop) {
		margin: 0 -1rem;
	}

	@include breakpoint-down(mobile) {
		margin: 0 0 -3rem;
	}

	.card-contact {
		flex: 0 0 calc(100% / 3);
		max-width: calc(100% / 3);
		padding: 0 1.7rem;

		@include breakpoint-down(small-desktop) {
			padding: 0 1rem;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0 0 3rem;
		}
	}
}