/* ------------------------------------------------------------ *\
	Cards Product
\* ------------------------------------------------------------ */

.cards-product {
	max-width: 112.3rem;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	gap: 3.1rem;
}

/* Cards Product Alt */

.cards-product--alt {
	max-width: 97.8rem;
	gap: 5rem;

	.cards__bundle > h5 {
		margin: 7.5rem 0 3.5rem;

		@include breakpoint-down(tablet) {
			margin: 5rem 0 3rem;
		}

		@include breakpoint-down(mobile-medium) {
			margin: 3rem 0;
		}
	}
}
