/* ------------------------------------------------------------ *\
	Card terms
\* ------------------------------------------------------------ */

.card-terms {
	position: relative;
	background: $white-color;
	box-shadow: 0px 0px 16px rgba(213, 213, 213, 0.5);
	border-radius: .4rem;
	padding: 2.4rem 3rem 0;

	@include breakpoint-down(mobile-medium) {
		padding: 2.4rem 1.5rem 0;
	}

	.card__head {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0rem .7rem 1.8rem 3.4rem;

		@include breakpoint-down(tablet) {
			padding: 0rem 0 1.8rem 0;
		}
	}

	.card__head-actions {
		padding-top: .4rem;
		display: flex;
		align-items: flex-start;
	}

	.card__head-content {
		display: flex;
		flex-flow: row wrap;
		padding-right: 2rem;

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 1rem;
			padding-right: 0;
		}
	}

	.card__name {
		padding-top: .2rem;
		letter-spacing: 0.025em;
		color: $dark-text;
		line-height: $h3-line-height;

		@include breakpoint-down(mobile) {
			padding-top: 0;
		}

		@include breakpoint-down(mobile-medium) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	h3 {
		font-size: $h3-font-size-mobile;
		line-height: $h3-line-height;
		margin-bottom: 0;
		letter-spacing: 0.04em;
		color: $primary-color;
		font-weight: $font-weight-light;
		font-family: $ff-sans-serif;

		@include breakpoint-down(mobile) {
			font-size: $h4-font-size;
		}
	}

	.card__icon {
		width: 5.6rem;
		height: 5.6rem;
		background: $white-color;
		box-shadow: 0px 0px 16px rgba(213, 213, 213, 0.5);
		border-radius: .4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 4.7rem;

		@include breakpoint-down(tablet) {
			width: 4.6rem;
			height: 4.6rem;
			margin-right: 2rem;

			@include breakpoint-down(mobile) {
				width: 4rem;
				height: 4rem;
			}

			@include breakpoint-down(mobile-medium) {
				margin-bottom: 1rem;
			}
		}
	}

	.card__icon img {
		max-width: 4rem;

		@include breakpoint-down(tablet) {
			max-width: 3.4rem;
		}

		@include breakpoint-down(mobile) {
			max-width: 3rem;
		}
	}

	.card__btn {
		min-width: 18.9rem;
		padding: 1.5rem 3.2rem;
		font-weight: $font-weight-regular;
	}

	.card__status {
		margin-left: 3.6rem;
		padding-top: 1rem;

		@include breakpoint-down(mobile) {
			position: absolute;
			top: 1rem;
			right: 1rem;
			max-width: 2.5rem;
			padding: 0;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 2rem;
		}
	}

	.card__body {
		display: none;
		border-top: solid .1rem $border-color;
		padding: 2.1rem 0rem 2rem 3.6rem;

		@include breakpoint-down(tablet) {
			padding: 2.1rem 0rem 2rem 0rem;
		}
	}

	.card__note {
		display: none;
		text-align: right;
		color: $dark-text;
		font-size: $h6-font-size-mobile;
		line-height: $h3-line-height;
		font-weight: $font-weight-regular;
		letter-spacing: 0.05em;
		margin-top: 1.2rem;
		text-decoration: none;

		@include breakpoint-down(mobile-medium) {
			text-align: left;
		}
	}

	.card__note:hover {
		text-decoration: underline;
	}
}

.card-terms.incomplete {
	.card__checkbox {
		pointer-events: none
	}

	.card__checkbox label {
		color: $border-color;
	}
}

.card-terms.open {
	.card__head {
		padding-bottom: 3.2rem;
	}

	.card__note {
		display: block;
	}

	.card__body {
		display: block;
	}
}
