/* ------------------------------------------------------------ *\
	Contact
\* ------------------------------------------------------------ */

.contact {
	letter-spacing: 0.02em;

	p {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
	}

	p + a {
		margin-top: 1rem; 
	}
}