/* ------------------------------------------------------------ *\
	COpyright
\* ------------------------------------------------------------ */

.copyright {
	color: $quinary-color-alt;
	font-size: $h6-font-size-mobile;
	letter-spacing: -0.025em;
}
