/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	display: flex;
	flex-flow: row wrap;

	.grid__col {
		max-width: 100%;
		flex: 1;
	}

	/*  Grid col 1of2  */
	.grid__col--1of2 {
		max-width: 50%;
		flex: 0 0 50%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	/*  Grid col 1of1  */
	.grid__col--1of1 {
		max-width: 100%;
		flex: 0 0 100%;
	}

	/*  Grid col 1of3  */
	.grid__col--1of3 {
		max-width: calc(100% / 3);
		flex: 0 0 calc(100% / 3);

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	/*  Grid col 1of3  */
	.grid__col--2of3 {
		max-width: 66.66%;
		flex: 0 0 66.66%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	/*  Grid col size1  */
	.grid__col--1of4 {
		max-width: 25%;
		flex: 0 0 25%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	/*  Grid col size2  */
	.grid__col--3of4 {
		max-width: 75%;
		flex: 0 0 75%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	/*  Grid Primary  */

	&--primary {
		margin: 0 -16px -32px;

		.grid__col {
			padding: 0 16px 32px; 
		} 
	}

	/*  Grid Block Tablet  */

	&--block-tablet {
		@include breakpoint-down(tablet) {
			display: block; 
			/*margin: 0; */
		}

		.grid__col {
			@include breakpoint-down(tablet) {
				/*padding: 0 !important; */
				max-width: 100% !important; 
			}
		}
	}

	&--r {
		margin: 0 -15px -30px;

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			display: block; 
			margin: 0; 
		}

		.grid__col {
			padding: 0 15px 30px;

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				max-width: 100%; 
				padding: 0; 
			}
		}
	}

	&--r-secondary {
		margin: 0 -23px -46px;

		/*  Mobile  */
		
		@include breakpoint-down(mobile) {
			display: block; 
			margin: 0; 
		}

		.grid__col {
			padding: 0 23px 46px;

			/*  Mobile  */
			
			@include breakpoint-down(mobile) {
				max-width: 100%; 
				padding: 0; 
			}
		}
	}

}
