/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */

.link {
	display: inline-block;
	font-size: $h4-font-size;
	font-weight: $font-weight-medium;
	color: $secondary-color;
	text-decoration: none;
	position: relative;

	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 0.15rem;
		background-color: $secondary-color;
		transition: opacity 0.3s;
	}

	&:hover:after {
		opacity: 0;
	}
}

.link-alt {
	display: inline-block; 
	text-decoration: none; 
	font-size: $h5-font-size-mobile; 
	color: $primary-color; 
	transition: opacity .4s; 

	&:hover {
		opacity: .7; 
	}

	i {
		margin-left: 7px; 
	}
}