/* ------------------------------------------------------------ *\
	Link Back
\* ------------------------------------------------------------ */

.link-back {
	text-decoration: none;

	&:hover span {
		transform: translateX(1rem);
	}

	span {
		display: inline-block;
		font-family: $ff-sans-serif-2;
		font-weight: $font-weight-regular;
		color: $primary-color;
		margin-left: 0.5rem;
		transition: transform $t-duration;
	}
}
