/* ------------------------------------------------------------ *\
	List services
\* ------------------------------------------------------------ */

.list-services {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 -6rem;

	@include breakpoint-down(small-desktop) {
		margin: 0 -4rem;
	}

	@include breakpoint-down(tablet) {
		margin: 0 -2rem;
	}

	@include breakpoint-down(mobile) {
		margin: 0 0 0 0;
	}

	li + li {
		@include breakpoint-down(mobile) {
			margin-top: 3.2rem;
		}
	}

	li {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		text-align: center;
		padding: 0 6rem;
		color: $dark-text;

		@include breakpoint-down(small-desktop) {
			padding: 0 4rem;
		}

		@include breakpoint-down(tablet) {
			padding: 0 2rem;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
			padding: 0 1rem;
		}

		img {
			margin-bottom: 3rem;
		}

		h4 {
			font-size: $h5-font-size;
			font-weight: $font-weight-medium;

			@include breakpoint-down(mobile-small) {
				font-size: $h6-font-size;
			}
		}

		h5,
		h4 {
			letter-spacing: .02em;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: $body-font-size;
			letter-spacing: .05em;
			font-weight: $font-weight-light;
			line-height: $h3-line-height;
		}

		div {
			min-height: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 1.7rem;

			@include breakpoint-down(mobile) {
				margin-bottom: 2.2rem;
				min-height: auto;
			}

			img {
				margin-bottom: 0;
			}
		}
	}
}

.list-services--secondary {
	margin: 0 -3rem;

	@include breakpoint-down(mobile) {
		margin: 0 0 0 0;
	}

	li {
		padding: 0 3rem;

		@include breakpoint-down(mobile) {
			padding: 0 1rem;
		}
	}

	li + li {
		margin-top: 2.8rem;
	}
}
