/* ------------------------------------------------------------ *\
	Login
\* ------------------------------------------------------------ */

.login {
	max-width: 92.8rem;
	margin: 0 auto;
	position: relative;

	&:focus {
		outline: .2rem solid $c-orange-2;
		outline-offset: .2rem;
	}

	.login__image {
		position: absolute;
		top: 4.3rem;
		right: -16rem;

		@include breakpoint-down(tablet) {
			top: 0rem;
		}

		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.login__inner {
		background: $white-color;
		box-shadow: 0px 0px 12px rgba(10, 15, 18, 0.12);
		border-radius: .4rem;
		padding: 3.2rem 0;
		background-color: $white-color;
		position: relative;

		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}

	h1,
	h4 {
		color: $primary-color;
	}

	h1 {
		max-width: 26.8rem;
		margin-bottom: .4rem;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			font-size: $h1-font-size;
			letter-spacing: 0.6px;
			margin-bottom: 1.6rem;
		}
	}

	h4 {
		font-weight: $font-weight-light;
		font-size: $h4-font-size;
		letter-spacing: 0.74px;
		margin-bottom: 2.4rem;
		padding-left: 1.3rem;
		padding-right: 2rem;

		@include breakpoint-down(mobile) {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}

	.login__entry {
		font-weight: $font-weight-light;
		line-height: $h3-line-height;
		font-size: $body-font-size;
		letter-spacing: 0.61px;
		margin-bottom: 2.6rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 3.2rem;
		}
	}

	.login__entry p:not(:last-child) {
		margin-bottom: 2.2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.5rem;
		}
	}

	.login__inner {
		position: relative;
		display: flex;
		flex-flow: row wrap;
	}

	.login__content {
		padding: 10.7rem 6.4rem 10.4rem 9.6rem;
		flex: 0 0 55.3%;
		max-width: 55.3%;
		border-right: solid .1rem $border-color;
		position: relative;

		@include breakpoint-down(tablet) {
			padding: 5.6rem 3.2rem 5.2rem;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			border-right: none;
		}
	}

	.login__content:after {
		@include breakpoint-down(mobile) {
			content: '';
			position: absolute;
			bottom: 0;
			left: 3.2rem;
			width: calc(100% - 6.4rem);
			height: .1rem;
			background-color: $border-color;
		}
	}

	.login__aside {
		flex: 0 0 44.7%;
		max-width: 44.7%;
		padding: 10.7rem 9.6rem 10.4rem 6.4rem;
		text-align: center;

		@include breakpoint-down(tablet) {
			padding: 5rem 5rem 5rem 3rem;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 4rem 4.7rem 4.9rem;
		}
	}

	.login__aside-inner {
		max-width: 23.6rem;
		margin: 0 auto;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.login__btn {
		padding: 1.5rem 3.9rem;


		@include breakpoint-down(mobile) {
			min-width: 100%;
		}
	}

	.login__btn-2 {
		margin-left: .5rem;
		padding: 1.6rem 2.4rem 1.6rem 2.2rem;
	}
}
