/* ------------------------------------------------------------ *\
	Nav ACcess
\* ------------------------------------------------------------ */

.nav-access {
	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		color: $white-color;
		font-size: $h6-font-size-mobile;
		text-transform: capitalize;
	}

	a {
		text-decoration: none;

		&:focus {
			outline: .2rem solid $c-orange-2;
			outline-offset: .5rem;
		}
	}

	.nav__user {
		font-family: $ff-sans-serif-2;
		font-weight: $font-weight-regular;
		font-size: $h6-font-size-mobile;
	}

	img {
		border-radius: 50%;
		width: 2.4rem;
		height: 2.4rem;
	}
}
