/* ------------------------------------------------------------ *\
	Overview
\* ------------------------------------------------------------ */

.overview {
	@include breakpoint-down(mobile-medium) {
		padding: 4.6rem 0 0;
	}

	h6 {
		font-weight: $font-weight-medium;
		letter-spacing: 0.025em;
		margin-bottom: 3.5rem;

		@include breakpoint-down(mobile-medium) {
			font-size: $body-font-size;
			margin-bottom: 3rem;
		}
	}

	.overview__head {
		margin-bottom: 6.3rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 5.5rem;
		}
	}

	.overview__body {
		max-width: 102.1rem;
		width: 100%;
		margin-bottom: 4.6rem;
		padding: 0 0 3.9rem 0.4rem;
		border-bottom: 0.1rem solid $border-color;

		@include breakpoint-down(mobile-medium) {
			padding: 0 0 5.1rem;
			margin-bottom: 4.3rem;
		}
	}

	.overview__body h6 {
		margin-bottom: 1.8rem;

		@include breakpoint-down(mobile-medium) {
			font-size: $h6-font-size-mobile;
			max-width: 30rem;
			margin: 0 auto 2.3rem;
		}
	}

	.overview__entry {
		font-size: $body-font-size;
		font-weight: $font-weight-light;
		line-height: $h3-line-height;
		max-width: 90rem;
		width: 100%;

		@include breakpoint-down(mobile-medium) {
			font-size: $h6-font-size-mobile;
			max-width: 30rem;
			margin: 0 auto;
		}
	}

	.overview__foot {
		margin-bottom: 7.6rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 4.1rem;
		}
	}

	.overview__card {
		max-width: 90.3rem;
		width: 100%;

		@include breakpoint-down(mobile-medium) {
			max-width: 30.1rem;
			margin: 0 auto 2rem;
		}
	}

	.overview__card + .overview__card {
		margin-top: 5.1rem;
	}

	.overview__card p {
		font-size: $body-font-size;
		font-weight: $font-weight-light;
		line-height: $h3-line-height;
	}

	.overview__card a {
		font-weight: $font-weight-medium;
		font-size: $body-font-size;
		color: $secondary-alt-color;
		text-decoration: none;
	}

	.overview__card i {
		margin-left: 0.5rem;
	}
}

.overview--alt {
	.overview__head h6 {
		margin-bottom: 2.8rem;
	}

	.overview__head {
		margin-bottom: 6.7rem;
	}

	.overview__body {
		padding-bottom: 0.9rem;
		border-bottom: none;
	}
}

/*  overview secondary  */

.overview--secondary {
	padding-left: .2rem;

	@include breakpoint-down(tablet) {
		padding-left: 0;
	}
	.overview__body {
		max-width: 100%;
		border: none;
		padding-left: 0;
		margin-bottom: 3rem;

		@include breakpoint-down(mobile) {
			padding-top: 3rem;
			margin-bottom: 0;
		}
	}

	h3 {
		font-size: $h3-font-size-mobile;
		line-height: $h3-line-height;
		color: $black-color;
		letter-spacing: 0.03em;
		margin-bottom: 3rem;
	}

	.overview__entry {
		max-width: 100%;
		letter-spacing: 0.037em;
	}

	.overview__head h6 {
		font-size: $h5-font-size;
		letter-spacing: 0.03em;
	}

	.overview__head {
		margin-bottom: 5.2rem;
	}

	.overview__foot {
		margin-bottom: 8.8rem;
	}

	.overview__steps {
		margin-bottom: 8rem;
	}

	.overview__steps h3 {
		letter-spacing: 0.04em;
		margin-bottom: 6rem;

		@include breakpoint-down(tablet) {
			margin-bottom: 4rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 3rem;
		}
	}
}

.overview--secondary-size-1 {
	.overview__head {
		margin-bottom: 4.8rem;
	}

	.overview__head h6 {
		margin-bottom: 3rem;
	}

	.overview__body {
		@include breakpoint-down(mobile-medium) {
			padding: 0 0 5.1rem;
		}
	}

	.overview__foot {
		margin-bottom: 9.7rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 4.1rem;
		}
	}

	.overview__steps {
		margin-bottom: 7.5rem;
	}

	.overview__steps h3 {
		margin-bottom: 5rem;
		color: $primary-color;
	}
}
