/* ------------------------------------------------------------ *\
	Reviews
\* ------------------------------------------------------------ */

.reviews {
	padding: 3.9rem 0 0;

	.reviews__overview {
		display: flex;
		align-items: flex-start;
		padding: 0 7.6rem 3.8rem 0.8rem;

		@include breakpoint-down(tablet) {
			padding: 3rem 0;
		}

		@include breakpoint-down(mobile) {
			flex-direction: column;
			align-items: center;
			padding: 0 0 1rem;
		}

		@include breakpoint-down(mobile-medium) {
			padding-bottom: 2.8rem;
		}
	}

	.reviews__aside {
		display: flex;

		@include breakpoint-down(mobile-medium) {
			width: 100%;
			margin-bottom: 4.7rem;
		}
	}

	.reviews__score {
		padding: 0.2rem 4.9rem 1rem 1.3rem;
		text-align: center;
		border-right: 0.1rem solid $border-color;

		@include breakpoint-down(tablet) {
			padding: 0.2rem 2rem 1rem;
		}

		@include breakpoint-down(mobile-medium) {
			padding: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
	}

	.reviews__aside span {
		display: block;
		margin-bottom: 1.1rem;
		font-size: $h2-font-size;
		font-weight: $font-weight-medium;
		letter-spacing: 0.02em;
	}

	.reviews__score ul {
		margin-bottom: 1.2rem;
	}

	.reviews__recommended {
		text-align: center;
		padding: 0.2rem 4.9rem 1rem 3.9rem;

		@include breakpoint-down(tablet) {
			padding: 0.2rem 2rem 1rem;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
			padding: 0;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
	}

	.reviews__recommended span {
		margin-bottom: 1.2rem;
	}

	.reviews__recommended p {
		max-width: 11rem;
		width: 100%;
		line-height: $h3-line-height;
	}

	.reviews__content {
		padding-top: 0.1rem;
		margin-left: 8.5rem;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include breakpoint-down(tablet) {
			margin: 0;
			flex-direction: column;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}

	.reviews__content a {
		display: inline-block;

		@include breakpoint-down(mobile-medium) {
			align-self: flex-start;
		}
	}

	.reviews__bars {
		flex: 1;

		@include breakpoint-down(tablet) {
			margin-bottom: 2rem;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
			margin-bottom: 3.1rem;
		}
	}

	.reviews__bar {
		display: flex;
		align-items: center;

		@include breakpoint-down(mobile-medium) {
			justify-content: space-between;
			width: 100%;
		}
	}

	.reviews__progress + span {
		@include breakpoint-down(mobile-medium) {
			display: none;
		}
	}

	.reviews__bar span {
		font-size: $h6-font-size-mobile;
		letter-spacing: 0.01em;
		min-width: 4.5rem;
	}

	.reviews__bar + .reviews__bar {
		margin-top: 1.6rem;

		@include breakpoint-down(mobile-medium) {
			margin-top: 1.4rem;
		}
	}

	.reviews__progress {
		width: 24.4rem;
		height: 1.4rem;
		margin: 0 2.3rem 0 2.7rem;
		border-radius: 0.7rem;
		background-color: $border-color;
		position: relative;
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background-color: $secondary-color;
			width: 50%;
			height: 100%;
			border-radius: 0.7rem;
		}

		@include breakpoint-down(mobile-medium) {
			width: 24rem;
			margin: 0;
		}

		@include breakpoint-down(mobile-small) {
			width: 17rem;
		}
	}

	.reviews__inner {
		max-width: 98.8rem;
		width: 100%;
		margin-left: 3.2rem;

		@include breakpoint-down(tablet) {
			margin: 0 auto;
		}
	}

	.reviews__selected {
		border-top: 0.1rem solid $border-color;
		border-bottom: 0.1rem solid $border-color;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(33.4rem, 1fr));

		@include breakpoint-down(mobile-medium) {
			padding-top: 0.3rem;
			grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		}
	}

	.reviews__helpful:nth-child(odd) {
		border-right: 0.1rem solid $border-color;

		@include breakpoint-down(mobile) {
			border-right: none;
		}
	}

	.reviews__helpful {
		padding: 2.5rem 2rem 2.7rem 1.5rem;

		@include breakpoint-down(mobile-medium) {
			padding: 2.5rem 0 2.9rem;
		}
	}

	.reviews__helpful + .reviews__helpful {
		@include breakpoint-down(mobile) {
			border-top: 0.1rem solid $border-color;
		}
	}

	.reviews__helpful h6 {
		margin-bottom: 1.7rem;
		letter-spacing: 0.05em;

		@include breakpoint-down(mobile-medium) {
			font-size: $h6-font-size-mobile;
		}
	}

	.reviews__helpful span {
		display: inline-block;
		font-size: $h6-font-size;
		font-weight: $font-weight-medium;
		letter-spacing: 0.04em;
		margin-left: 1.4rem;

		@include breakpoint-down(mobile-medium) {
			display: block;
			margin: 0.3rem 0 0.8rem 0;
			font-size: $h6-font-size-mobile;
		}
	}

	.reviews__helpful ul {
		margin-bottom: 1.5rem;
	}

	.reviews__helpful p {
		max-width: 41.8rem;
		width: 100%;
		line-height: $h3-line-height;
		font-weight: $font-weight-light;

		@include breakpoint-down(mobile-medium) {
			font-size: $h6-font-size-mobile;
		}
	}

	.reviews__tags {
		padding: 2.8rem 0 2.6rem;
		border-bottom: 0.1rem solid $border-color;

		@include breakpoint-down(mobile-medium) {
			padding: 2.3rem 0;
		}
	}

	.reviews__tags ul {
		margin-bottom: 0;
	}

	.reviews__tags .link-green {
		font-size: $body-font-size;
		margin-left: 1.9rem;

		@include breakpoint-down(mobile-medium) {
			margin: 1rem 0 0 0;
		}
	}

	.reviews__form {
		margin-bottom: 3.8rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 2.9rem;
		}
	}

	.reviews__articles {
		padding-top: 2.7rem;

		@include breakpoint-down(mobile-medium) {
			padding-top: 1.8rem;
		}
	}
}
