/* ------------------------------------------------------------ *\
	Stamp
\* ------------------------------------------------------------ */

.stamp {
	width: 20rem;
	color: $white-color;
	background-color: $primary-color;
	font-weight: $font-weight-medium;
	padding: 1rem 3rem 1.3rem;
	text-align: center;
	position: absolute;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-right: 21px solid $white-color;
		border-bottom: 20px solid transparent;
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2.1rem;
		width: 0;
		height: 0;
		z-index: 11;
		border-top: 21px solid $primary-color;
		border-left: 21px solid transparent;

		@include breakpoint-down(mobile-medium) {
			display: none;
		}
	}
}

.stamp--alt {
	position: relative;

	&:before {
		display: none;
	}
}
