/* ------------------------------------------------------------ *\
	Video
\* ------------------------------------------------------------ */

.video {
	max-height: 55rem;
	position: relative;

	img {
		width: 100%;
	}

	.video__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include breakpoint-down(mobile-medium) {
			max-width: 6rem;
		}
	}
}
